# Test files
*.txt
day*.txt
testfile*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS / Credentials
.env
credentials
*.pem
*.key
*.pub

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
